.nav {
  display: unset;
}

.link {
  float: right;
  display: block;
  padding: 8px 40px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;

  letter-spacing: -0.02em;

  color: #566474;
}

#myapi {
  padding: 46px;
}
