/* body {
  overflow-y: hidden;
} */
/* .navbar {
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
}

.navbar#cuvette {
  position: absolute;
  width: 120px;
  height: 29.24px;
  left: 60px;
  top: 280px;
  margin: auto;
} */

.rectangleBox {
  display: flex;
  background: rgba(247, 248, 250, 0.5);
  width: 45rem;
  height: 43.9rem;
  left: 119px;
  /* top: 277px; */
}

.rightElement {
  margin-top: 10rem;
  margin-left: 8rem;
  width: 480px;
  height: 433px;
  left: 119px;
  top: 277px;
}

/* .rightElement #avatar {
  position: absolute;
  width: 103px;
  height: 103px;
  left: 119px;
  top: 245px;
} */

.rightElement h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.02em;
}
.rightElement h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;

  letter-spacing: -0.02em;

  color: #566474;
}

.form {
  margin-left: 53rem;
  margin-top: -35rem;

  width: 34rem;
  height: 27rem;

  border: 1px solid #dfe0e0;
  box-sizing: border-box;
  border-radius: 10px;
}

.formElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* max-height: 100vh; */
  /* width: 398px; */
  height: 400px;
  margin: 10px;
}

#emailAddress,
#password,
#loggedbutton {
  align-content: center;
  /* width: 100%; */
  padding: 18px 20px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 1rem;
}

#loggedbutton {
  justify-content: center;
  margin-top: 2rem;
  background-color: rgb(73, 73, 219);
  color: white;
  font-size: 20px;
  padding: 10px;
}

button:hover {
  opacity: 0.8;
}
