.loggingmain {
  display: flex;
  flex-direction: column;
}

.Cuvette {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem 0rem 1rem 0.8rem;
}
.rectangleBox {
  border-top: 1px solid rgb(168, 162, 162);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightElement {
  margin-top: 10rem;
  margin-left: 8rem;
  width: 30%;
  /* height: 433px;
  left: 119px;
  top: 277px; */
}

.rightElement h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: -0.02em;
}
.rightElement h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;

  letter-spacing: -0.02em;

  color: #566474;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-right: 5rem;
  margin-top: 8rem;

  border: 2px solid #dfe0e0;
  box-sizing: border-box;
  border-radius: 10px;
}

#emailAddress,
#password,
#loggedbutton {
  width: 500px;
  height: 50px;
  padding-left: 15px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 1rem;
}

#loggedbutton {
  justify-content: center;
  margin-top: 2rem;
  background-color: rgb(73, 73, 219);
  color: white;
  font-size: 20px;
  padding: 10px;
}

button:hover {
  opacity: 0.8;
}
