.navbar {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar#cuvette {
  width: 10rem;
  height: 3rem;
  margin: 0.5rem 0rem 1rem 0.8rem;
}

/* CSS for Buttons*/
.navbar button {
  float: right;
  padding: 8px 16px;
  margin-right: 20px;
  background: #7f8eda;
  border-radius: 5px;
}

/*CSS for Text in Button*/
.buttonText {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 175% */

  letter-spacing: -0.02em;

  color: #ffffff;
}

.nav {
  align-items: flex-end;
}

.link {
  float: right;
  display: block;
  padding: 8px 40px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;

  letter-spacing: -0.02em;

  color: #566474;
}

#myapi {
  padding: 46px;
}
