.navbar {
  border: 2px solid black;
  border-radius: 12px;
  padding: 15px;
}

.navbar#cuvette {
  position: absolute;
  width: 120px;
  height: 29.24px;
  left: 60px;
  top: 28px;
  margin: auto;
}
